<extend name="Common/__base" />
<block name="body">
    <div class="page-group">
        <div class="page page-current" style="background:url(__PUBLIC__/wx/img/login_bg.jpg) 0 0 no-repeat;background-size:100% 100%" id="page-login">
            <p class="login-title">欢迎登录</p>
            <div class="login-content">
	            <div class="login-input">
	                <span class="iconfont icon-yonghu"></span>
	                <input type="text" placeholder="请输入账号" name="username"/>
	            </div>
	            <div class="login-input">
	                <span class="iconfont icon-mima"></span>
	                <input type="password" placeholder="请输入密码" name="password"/>
	            </div>
	            <div class="login-btn" id="login">登录</div>
            </div>
        </div>
    </div>
</block>