<extend name="Common/__base" />
<block name="body">
    <div class="page-group">
        <div class="page page-current" style="background: #fff" id="page-order-index">

            <div class="buttons-tab buttons-list" id="type">
                <a class="button active" data-type="hall">堂食</a>
                <a class="button" data-type="takeout">外卖</a>
            </div>
            <div class="buttons-tab coupon-tab" id="status">
                <a class="tab-link button active" data-status="created">待付款</a>
                <a class="tab-link button" data-status="paid">已付款</a>
                <a class="tab-link button" data-status="success">已完成</a>
            </div>

            <div class="content native-scroll" style="margin-top:5.2rem;">
                <!-- <div class="hall-order-list">
                    <div class="hall-order-list-time">2019-01-01 11:11:11</div>
                    <div class="menu-order-goods-list-item-content vip-order-list-item-content">
                        <div class="menu-order-goods-list-item">
                            <img src="/Public/Uploads/5c1f2cc95e2fe.png">
                            <div class="menu-order-goods-list-m">
                                <p class="p1">菜品名称</p>
                                <p class="p2">备注、备注2</p>
                            </div>
                            <div class="menu-order-goods-list-right">
                                <p class="p1">¥100</p>
                                <p class="p3">× 2</p>
                            </div>
                        </div>
                        <div class="menu-order-goods-list-item">
                            <img src="/Public/Uploads/5c1f2cc95e2fe.png">
                            <div class="menu-order-goods-list-m">
                                <p class="p1">菜品名称</p>
                                <p class="p2">备注、备注2</p>
                            </div>
                            <div class="menu-order-goods-list-right">
                                <p class="p1">¥100</p>
                                <p class="p3">× 2</p>
                            </div>
                        </div>
                        <div class="menu-order-goods-list-item">
                            <img src="/Public/Uploads/5c1f2cc95e2fe.png">
                            <div class="menu-order-goods-list-m">
                                <p class="p1">菜品名称</p>
                                <p class="p2">备注、备注2</p>
                            </div>
                            <div class="menu-order-goods-list-right">
                                <p class="p1">¥100</p>
                                <p class="p3">× 2</p>
                            </div>
                        </div>
                        <div class="menu-order-goods-list-item">
                            <img src="/Public/Uploads/5c1f2cc95e2fe.png">
                            <div class="menu-order-goods-list-m">
                                <p class="p1">菜品名称</p>
                                <p class="p2">备注、备注2</p>
                            </div>
                            <div class="menu-order-goods-list-right">
                                <p class="p1">¥100</p>
                                <p class="p3">× 2</p>
                            </div>
                        </div>

                    </div>
                    <div class="menu-order-goods-list-bottom1">
                        共10个菜
                    </div>
                    <div class="menu-order-goods-list-bottom">
                        实付金额：¥100
                    </div>
                    <div class="menu-order-goods-list-btn">支付</div>
                    <div class="both"></div>
                </div> -->

                <div class="empty" style="display: block;">
                    <span class="iconfont icon-ico_meiyoushuju"></span>
                    <p>暂无订单</p>
                </div>
            </div>

        </div>
    </div>
</block>