
@font-face {font-family: "ALiconfont";
  src: url('iconfont-1.4.eot?t=1461382854'); /* IE9*/
  src: url('iconfont-1.4.eot?t=1461382854#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont-1.4.woff?t=1461382854') format('woff'), /* chrome, firefox */
  url('iconfont-1.4.ttf?t=1461382854') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont-1.4.svg?t=1461382854#ALiconfont') format('svg'); /* iOS 4.1- */
}

.ALiconfont {
  font-family:"ALiconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tongzhi:before { content: "\e623"; }
.icon-minus:before { content: "\e652"; }
.icon-plus:before { content: "\e653"; }
.icon-Contact:before { content: "\e600"; }
.icon-icon:before { content: "\e631"; }
.icon-eat:before { content: "\e64c"; }
.icon-home:before { content: "\e61d"; }
.icon-bus:before { content: "\e63d"; }
.icon-xiezilou:before { content: "\e65b"; }
.icon-info:before { content: "\e639"; }
.icon-dianfeiqingdan:before { content: "\e601"; }
.icon-contact:before { content: "\e602"; }
.icon-minus1:before { content: "\e646"; }
.icon-jiaose:before { content: "\e679"; }
.icon-check:before { content: "\e650"; }
.icon-setb:before { content: "\e65f"; }
.icon-set:before { content: "\e625"; }
.icon-51:before { content: "\e63a"; }
.icon-board:before { content: "\e603"; }
.icon-plus1:before { content: "\e642"; }
.icon-kaohechengji:before { content: "\e656"; }
.icon-plus2:before { content: "\e643"; }
.icon-wx:before { content: "\e627"; }
.icon-key:before { content: "\e668"; }
.icon-week:before { content: "\e65c"; }
.icon-trash:before { content: "\e64a"; }
.icon-news:before { content: "\e604"; }
.icon-search:before { content: "\e64e"; }
.icon-set1:before { content: "\e626"; }
.icon-home1:before { content: "\e61e"; }
.icon-close:before { content: "\e66d"; }
.icon-zangshiwurenling:before { content: "\e605"; }
.icon-r-repair:before { content: "\e606"; }
.icon-icon1:before { content: "\e632"; }
.icon-14news:before { content: "\e607"; }
.icon-chart:before { content: "\e608"; }
.icon-user:before { content: "\e62b"; }
.icon-tongzhi1:before { content: "\e624"; }
.icon-user1:before { content: "\e62c"; }
.icon-bus1:before { content: "\e609"; }
.icon-zs-board:before { content: "\e60a"; }
.icon-toupiao:before { content: "\e60b"; }
.icon-loudong:before { content: "\e65d"; }
.icon-check1:before { content: "\e651"; }
.icon-phone:before { content: "\e63f"; }
.icon-change:before { content: "\e637"; }
.icon-gouwuche:before { content: "\e647"; }
.icon-iconsearch:before { content: "\e64f"; }
.icon-phone1:before { content: "\e640"; }
.icon-bus2:before { content: "\e63e"; }
.icon-crmtubiao67:before { content: "\e666"; }
.icon-anquantishi:before { content: "\e67a"; }
.icon-dian:before { content: "\e60c"; }
.icon-zhanghaoanquan:before { content: "\e67b"; }
.icon-menu:before { content: "\e61c"; }
.icon-change1:before { content: "\e638"; }
.icon-sortdown:before { content: "\e620"; }
.icon-liuyan:before { content: "\e60d"; }
.icon-sortup:before { content: "\e621"; }
.icon-week1:before { content: "\e65e"; }
.icon-star3:before { content: "\e633"; }
.icon-dian1:before { content: "\e60e"; }
.icon-order:before { content: "\e63b"; }
.icon-dianfei:before { content: "\e60f"; }
.icon-wx1:before { content: "\e628"; }
.icon-shuidianfei:before { content: "\e610"; }
.icon-minus2:before { content: "\e648"; }
.icon-inbox:before { content: "\e66e"; }
.icon-message:before { content: "\e682"; }
.icon-iconfonticonfontzhiweiguanli:before { content: "\e644"; }
.icon-addresslist:before { content: "\e611"; }
.icon-password:before { content: "\e645"; }
.icon-anquan:before { content: "\e67c"; }
.icon-menu-develop:before { content: "\e655"; }
.icon-liuyan1:before { content: "\e612"; }
.icon-cost-info:before { content: "\e613"; }
.icon-lwx:before { content: "\e629"; }
.icon-geoneset3:before { content: "\e683"; }
.icon-contact1:before { content: "\e614"; }
.icon-iconfontzhankai:before { content: "\e68a"; }
.icon-chengjichaxun:before { content: "\e657"; }
.icon-jiaoseguanli:before { content: "\e672"; }
.icon-tubiao03:before { content: "\e615"; }
.icon-gonggao:before { content: "\e616"; }
.icon-shiwuchaxun:before { content: "\e617"; }
.icon-biye:before { content: "\e689"; }
.icon-iconfontchange:before { content: "\e664"; }
.icon-trash1:before { content: "\e64b"; }
.icon-star:before { content: "\e634"; }
.icon-icobus:before { content: "\e618"; }
.icon-zhanghaobangding01:before { content: "\e673"; }
.icon-geren:before { content: "\e636"; }
.icon-tongzhipingtaigonggao:before { content: "\e635"; }
.icon-zhankai:before { content: "\e654"; }
.icon-repair:before { content: "\e619"; }
.icon-sort:before { content: "\e622"; }
.icon-jiadianluyouqichengjidan:before { content: "\e658"; }
.icon-temple:before { content: "\e678"; }
.icon-cc-chart:before { content: "\e61a"; }
.icon-bus3:before { content: "\e61b"; }
.icon-sortdown1:before { content: "\e62d"; }
.icon-sortleft:before { content: "\e62e"; }
.icon-sortright:before { content: "\e62f"; }
.icon-sortup1:before { content: "\e630"; }
.icon-gouwuche1:before { content: "\e649"; }
.icon-chanpinxiangqingyecanshi:before { content: "\e64d"; }
.icon-menu1:before { content: "\e61f"; }
.icon-phone2:before { content: "\e641"; }
.icon-wx2:before { content: "\e62a"; }
.icon-zhanghuanquan:before { content: "\e67d"; }
.icon-shangwuqu:before { content: "\e669"; }
.icon-xinyongfen:before { content: "\e65a"; }
.icon-bus4:before { content: "\e63c"; }
.icon-inbox1:before { content: "\e66f"; }
.icon-housetype:before { content: "\e66a"; }
.icon-switch:before { content: "\e684"; }
.icon-jiaoseguanli1:before { content: "\e674"; }
.icon-message1:before { content: "\e685"; }
.icon-zhanghaoguanli:before { content: "\e675"; }
.icon-yingyongchengxu:before { content: "\e680"; }
.icon-my-rili:before { content: "\e660"; }
.icon-xuexiao:before { content: "\e661"; }
.icon-indent-left:before { content: "\e68b"; }
.icon-yixiangdengji:before { content: "\e659"; }
.icon-ruzhu:before { content: "\e662"; }
.icon-managerole:before { content: "\e676"; }
.icon-yingyongguanli:before { content: "\e681"; }
.icon-jiaoseshezhi:before { content: "\e677"; }
.icon-tuisu:before { content: "\e663"; }
.icon-tiaosu:before { content: "\e665"; }
.icon-susheshenpi:before { content: "\e667"; }
.icon-iconfontkey:before { content: "\e66b"; }
.icon-iconfontkey1:before { content: "\e66c"; }
.icon-minus3:before { content: "\e670"; }
.icon-plus3:before { content: "\e671"; }
.icon-iconfonticon31:before { content: "\e67e"; }
.icon-check02:before { content: "\e686"; }
.icon-close02:before { content: "\e687"; }
.icon-xiaji:before { content: "\e67f"; }
.icon-close1:before { content: "\e688"; }