@charset "utf-8";
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,a,p,pre,code,form,fieldset,legend,input,button,textarea,select,blockquote,th,td{ margin:0; padding:0; font-family:Microsoft YaHei; font-weight:normal; color: #000;}

table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{ border:0;}
li,dd{ list-style:none;}

html{font-size:62.5%;}
body{ background:#f8f8f8; font-size:1.8rem;/*14px*/ }

/*@font-face{font-family:Microsoft YaHei; src:url(../font/msyhl.ttc);}*/

a{outline:none; color:#333; text-decoration:none;}
a:hover{ text-decoration:none;}
a:active{star:expression(this.onFocus=this.blur());}
img,a .img{border:0}

input,textarea{border:0;outline:none;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{ color:#c1c0c0;}
input:-moz-placeholder, textarea:-moz-placeholder{ color:#c1c0c0;}
input::-moz-placeholder, textarea::-moz-placeholder{ color:#c1c0c0;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder{ color:#c1c0c0;}


.clearfix:after {content:"."; clear:both; display:block; visibility:hidden; height:0;}
.clearfix {display:inline-block;}
.clearfix {display:block;}

.fleft{ float:left;}
.fright{ float:right;}
.ovhide{ overflow:hidden;}
.liend{ border:none !important;}

header{ position:fixed; top:0; width:100%; height:4.0rem; line-height:4.0rem; background:#288feb; font-size:1.8rem; color:#fff; text-align:center; z-index:111;}
header a{ height:2.4rem; line-height:2.4rem; margin:0.7rem 0; font-size:1.5rem; color:#fff;}
header a.back{ position:absolute; left:1.4rem; top:0; display:inline-block; padding-left:2.4rem; background:url(../images/icon_back.png) no-repeat left center;}
header a.reset{ position:absolute; right:1.4rem; top:0.2rem; display:inline-block;}

.section{ margin:4.0rem 0 0rem 0;background-color: #f8f8f8}
.content-block{ padding:0 0 2.4rem 0; margin:0;}


.buttonBlue{ width:100%; height:3.8rem; line-height:3.8rem; background:#288feb; font-size:1.8rem; color:#ffffff; text-align:center; display:inline-block;}
.bomBtn{ position:fixed; bottom:0; width:100%; height:3.8rem;}
.btnConfirm{ margin:1.2rem 1.2rem 0 1.2rem;}
.btnConfirm a{ border-radius:0.4rem;}


/*登录页面*/
.login ul li{ position: relative; padding: 0 1.2rem; line-height: 3.6rem; background: #fff; border-bottom: 1px solid #cccccc;}
.login ul li span{ float:left; margin-right:1rem;}
.login ul li input{ width: 80%;}
.login ul li .clear{ display: none; position: absolute; top:0.8rem; right:0.6rem; background:url(../images/icon_clear.png) no-repeat; background-size:2.0rem 2.0rem; width:3.0rem; height:3.0rem; outline: none; }
.login ul li .input::-ms-clear { display: none; }
.login ul li .input:valid + .clear { display: inline; }
.login ul li .clear:active{ background:url(../images/icon_clear_active.png) no-repeat; background-size:2.0rem 2.0rem;}


/*寝室页面*/
.content span.name{ 
	width:50%;  
	height:40px; 
	line-height:40px; 
	display:inline-block; 
	text-align:center; 
	background:#FFFFFF;
	font-size:1.5rem;
	color:#777;
}
.content span.name:first-child{ 
	border-right:1px solid #C9C9C9;
}
.room-list{ 
	margin-top:5px; 
	padding:0 2%;
	margin-bottom:30px;
}
.ul-row{ 
	width:100%; 
	padding-top:5px; 
	display: inline-block; 
	text-align:center;
}
.ul-row .roomname{ 
	float:left; 
	width:25%;
	margin:0.5rem 0 0 0;
}
.ul-row .roomname span{ 
	border:1px solid #C9C9C9; 
	border-radius:5px; 
	width:85%; 
	height:4rem; 
	line-height:4rem; 
	display:inline-block; 
	text-align:center; 
	background:#FFFFFF; 
	font-size:1.5rem;
	color: #777;
}
.ul-row .roomname:first-child span{ 
	border:1px solid #228feb;
}
.footer{ 
	width:100%; 
	position:fixed; 
	bottom:0; 
	height:50px; 
	border-top:1px solid #E0E0E0;
	padding-left:6%;
	background:#FFFFFF;
}
.progress{
	position:relative;
	top:0.8rem;
	width:70%;
	height:2px;
	background:#e2e2e2;
	display:inline-block;
}

.progress-num{
	font-size:1.4rem;
	position:absolute;
	top:1.2rem;
	right:13%;
	}
.footer .progress span{ 
	width:1.5%;
	display:block;
	background:#65d521;
	height:100%;
}
.footer .progress-num i{ 
	color:#5cb85c;
}
.ul-row li span.active{
	background:#5cb85c;
	color:#FFFFFF;
	border-color:#5cb85c;
}
.ul-row li span.unqualified{
	background:#c10000;
	border-color:#c10000;
}


/*打分选择页面*/
.form-item{ height:4.2rem; padding:0.8rem 1.2rem; background:#ffffff;}
.form-item label{ float:left; height:2.4rem; line-height:2.4rem; margin-right:0.2rem; font-size:1.6rem;}
.form-item select{ float:left; height:2.4rem; line-height:2.4rem; background:#fff; border:1px solid #ffffff;font-size:1.6rem;}
.form-item input{ float:left; height:2.4rem; line-height:2.4rem; margin-left:0.2rem; border:none; -webkit-appearance: none;}
.form-item .btn-mark{ float:right; display:inline-block; min-width:6.5rem; height:3rem; line-height:3rem; border:1px solid #cacccd; border-radius:0.3rem; font-size:1.4rem; color:#00a5e0; text-align:center;}
.form-item .btn-mark:active{ background:#eee;}


/*打分页面*/
.tab-top{ line-height:2.4rem;}
.buttons-tab{ height:3.4rem;position: fixed;}
.buttons-tab .button{ height:3.4rem; line-height:3.4rem; font-size:1.5rem;width: 107px;}

.roules-footer{ margin-top: 3.1rem; width:100%; height:3.4rem; line-height:3.4rem; background-color:#fff; border-top:1px solid #e0e0e0; text-align:center;}
.roules-footer .all-grade{ float:left; width:50%; font-size:1.6rem; color:#ff9501;}
.roules-footer .all-grade i{ margin:0 0 0 0.2rem; font-style:normal;}
.roules-footer .btn-next{ float:left; width:50%; height:3.4rem; background:#228feb; font-size:1.5rem; color:#fff; text-align:center;}

.mark-term{margin-top:44px; }
.mark-term h4{ line-height:2.6rem; padding:0 1.0rem; margin-top:0.5rem; font-size:1.4rem; color:#888;}
.mark-room{ background:#fff;}
.mark-room li{ width:100%; display:table; line-height:2.4rem; padding:0.6rem 0; background:#fff; border-bottom:1px solid #e0e0e0; font-size:1.3rem; color:#000;}
.mark-room li span{ float:right; width:3.0rem; border:1px solid #e0e0e0; border-radius:0.3rem; text-align:center;}
.mark-room li span.rules-add{ font-size:1.6rem;}
.mark-room li span.break-room{ float:left; margin:0 0.4rem 0 0; border:1px solid #ff9501; color:#ff9501;}
.mark-room li .rules-number{ float:left; border:none;}
.mark-room li .number-select{ width:4.0rem; height:2.0rem; font-size:1.5rem; text-align:center;}
.mark-room li .break-room-list{ float:right;}
.rules-title, .rules-content, .rules-score{ width:50%; display:table-cell; vertical-align:middle; padding:0 1.0rem 0 0;}
.rules-title{ padding:0 0 0 1.0rem;}
.rules-score{ text-align:right;}
.rules-score i{ font-style:normal;}




/*actions*/
.actions-modal{ }
.actions-modal-label{ line-height:3.0em; font-size:1.4rem;}
.actions-modal-group { margin:.4rem;}
.actions-modal-button { line-height:3.0em; font-size:1.4rem; color:#288feb;}
.actions-modal-button.bg-danger,.actions-modal-label.bg-danger{background:rgba(243,243,243,.95); color:#000;}
.actions-modal-button.bg-danger:active,.actions-modal-label.bg-danger:active { background:#288feb; color:#fff;}

.bottom-bar-tab{ height:4.0rem; background:#fff; border-top:1px solid #eee;}
.bottom-bar-tab .tab-item{height:4.0rem; font-size:1.6rem; border-right:1px solid #eee;}
.bottom-bar-tab .tab-item:last-child{border-right:none;}
.bottom-bar-tab .tab-item.active{height:4.0rem; color:#288feb;}

 

.modal-in{
    width: 18rem;
    margin-left: -9rem;
}

.modal-buttons{
    height: 3rem;
}
.modal-button{
    height: 3rem;
    line-height: 2.8rem;
    font-size: 1.5rem;
}

