<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><block name="title"><?php echo json_decode($system_config, true)['title']; ?></block></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_952215_7tykpfdbxig.css">
    <link rel="stylesheet" href="__PUBLIC__/wx/css/sm.min.css">
    <link rel="stylesheet" href="__PUBLIC__/wx/css/sm-extend.min.css">
    <link rel="stylesheet" href="__PUBLIC__/wx/lib/swiper4/css/swiper.min.css">
    <link rel="stylesheet" href="__PUBLIC__/wx/css/index.css?v={:C('version')}">
    <link rel="stylesheet" href="__PUBLIC__/wx/css/menu.css?v={:C('version')}">

  </head>
  <body>
    <block name="body"></block>
    
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
    <script type='text/javascript' src='__PUBLIC__/wx/js/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='__PUBLIC__/wx/js/zepto.cookie.js' charset='utf-8'></script>
    <script type='text/javascript' src='__PUBLIC__/wx/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='__PUBLIC__/wx/js/sm-extend.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='__PUBLIC__/wx/js/common.js?v={:C('version')}' charset='utf-8'></script>
    <script type='text/javascript' src='__PUBLIC__/wx/lib/swiper4/js/swiper.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='__PUBLIC__/wx/js/index.js?v={:C('version')}' charset='utf-8'></script>
    <script>
      var config = {$system_config};
    </script>
  </body>
</html>