<nav class="bar bar-tab">
    <!-- <a class="tab-item qidai">
        <span class="icon icon-home"></span>
        <span class="tab-label">首页</span>
    </a> -->
    <a class="tab-item <?php if (CONTROLLER_NAME == 'Menu') { echo 'active';}?>" href="{:U('Home/Menu/index')}">
        <span class="icon icon-menu"></span>
        <span class="tab-label">菜单</span>
    </a>
    <!-- <a class="tab-item">
        <span class="icon icon-gift"></span>
        <span class="tab-label">活动</span>
    </a> -->
    <a class="tab-item <?php if (CONTROLLER_NAME == 'Vip') { echo 'active';}?>" href="{:U('Home/Vip/index')}">
        <span class="icon icon-me"></span>
        <span class="tab-label">会员</span>
    </a>
</nav>