<extend name="Common/__base" />
<block name="body">
    <div class="page-group">
        <div class="page page-current" style="background: #fff" id="page-index">
            <div class="content native-scroll">
                <div class="avatar" >
                    <img src="https://wx.qlogo.cn/mmopen/vi_32/DYAIOgq83eoohsg50vH92YNib7knlicwiaiaLw0r4LbOwGmcDFcUSZI8aIT9TJHZ2BiaIlKxbw5IFjhshWUYicUIIJdw/132" />
                </div>
                <p class="name">工号3333</p>
                <a class="menu" href="{:U('order')}" data-no-cache="true">客户下单</a>
                <a class="menu" href="{:U('today')}" data-no-cache="true">今日测量</a>
                <a class="menu" href="{:U('search')}" data-no-cache="true">查询订单</a>
            </div>
        </div>
    </div>
</block>