<extend name="Common/__base" />
<block name="body">
    <div class="page-group">
        <div class="page page-current" style="background: #fff" id="page-order">
            <div class="content native-scroll">
                <div class="order-detail">
                    <!-- <div class="order-detail-btn">打印</div> -->
                    <img src="__PUBLIC__/wx/img/order_bg.jpg" class="bg"/>
                    <p class="order-detail-title">腾达石业</p>
                    <div class="order-detail-field-content">
                        <p class="field-title">姓名</p>
                        <input type="text" placeholder="输入客户姓名" class="field-input" name="name" />
                        <p class="field-title">电话</p>
                        <input type="text" placeholder="输入客户电话" class="field-input" name="phone"/>
                        <p class="field-title">小区</p>
                        <input type="text" placeholder="输入所在小区" class="field-input" name="village" />
                        <p class="field-title">地址</p>
                        <input type="text" placeholder="输入客户地址" class="field-input" name="address"/>
                        <p class="field-title">定金</p>
                        <input type="text" placeholder="输入定金" class="field-input" name="amount"/>
                        <p class="field-title">测量日期</p>
                        <input type="text" placeholder="选择测量日期" class="field-input" name="date" />
                    </div>
                    <div class="order-detail-field-content">
                        <p class="field-title">测量内容</p>
                        <textarea name="content"></textarea>
                    </div>
                    <div class="order-detail-bottom">
                        <p>石材切割 {$system.scqg}元/平方</p>
                        <p>单层磨边 {$system.dcmb}元/米</p>
                        <p>双层磨边 {$system.scmb}元/米</p>
                        <p>钢筋加固 {$system.gjjg}元/米</p>
                        <p class="notice">注：石材均有损耗，常规约15%损耗</p>
                        <img src="{$system.gongzhang}" class="gongzhang" />
                    </div>
                    <div class="order-detail-submit" id="submit">提交</div>
                </div>
            </div>
        </div>
    </div>
</block>