<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <block name="title"><?php echo json_decode($system_config, true)['title']; ?></block>
    </title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_952215_h6yq16smhjp.css">
    <link rel="stylesheet" href="__PUBLIC__/wx/css/sm.min.css">
    <link rel="stylesheet" href="__PUBLIC__/wx/css/sm-extend.min.css">
    <link rel="stylesheet" href="__PUBLIC__/wx/css/index.css?v={:C('version')}">
    <link rel="stylesheet" href="__PUBLIC__/wx/css/menu.css?v={:C('version')}">

</head>

<body>
    
    <div class="page-group">
        <div class="page page-current" style="background: #fff">
            <div class="content native-scroll">
                <img src="" id="show" width="100%"/>
                <div class="order-detail" id="print">
                    <img src="__PUBLIC__/wx/img/order_bg.jpg" class="bg" />
                    <p class="order-detail-title">腾达石业</p>
                    <div class="order-detail-field-content">
                        <p class="field-title">姓名</p>
                        <div class="field-input">{$data.name}</div>
                        <p class="field-title">电话</p>
                        <div class="field-input">{$data.phone}</div>
                        <p class="field-title">小区</p>
                        <div class="field-input">{$data.village}</div>
                        <p class="field-title">地址</p>
                        <div class="field-input">{$data.address}</div>
                        <p class="field-title">定金</p>
                        <div class="field-input">{$data.amount}</div>
                        <p class="field-title">测量日期</p>
                        <div class="field-input">{$data.date}</div>
                    </div>
                    <div class="order-detail-field-content">
                        <p class="field-title">测量内容</p>
                        <div class="textarea">{$data.content}</div>
                    </div>
                    <div class="order-detail-bottom">
                        <p>石材切割 {$data.scqg}元/平方</p>
                        <p>单层磨边 {$data.dcmb}元/米</p>
                        <p>双层磨边 {$data.scmb}元/米</p>
                        <p>钢筋加固 {$data.gjjg}元/米</p>
                        <p class="notice">注：石材均有损耗，常规约15%损耗</p>
                        <img src="{$system.gongzhang}" class="gongzhang" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src='__PUBLIC__/js/jquery.min.1.8.0.js' charset='utf-8'></script>
    <script type='text/javascript' src='__PUBLIC__/js/html2canvas.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='__PUBLIC__/js/canvas2image.js' charset='utf-8'></script>
    <script>
        $(function(){
           convert2canvas();
           alert('长按保存图片')
           function convert2canvas() {

                var cntElem = $('#print')[0];

                var shareContent = cntElem;//需要截图的包裹的（原生的）DOM 对象
                var width = shareContent.offsetWidth; //获取dom 宽度
                var height = shareContent.offsetHeight; //获取dom 高度
                var canvas = document.createElement("canvas"); //创建一个canvas节点
                var scale = 2; //定义任意放大倍数 支持小数
                canvas.width = width * scale; //定义canvas 宽度 * 缩放
                canvas.height = height * scale; //定义canvas高度 *缩放
                canvas.getContext("2d").scale(scale, scale); //获取context,设置scale 
                var opts = {
                    scale: scale, // 添加的scale 参数
                    canvas: canvas, //自定义 canvas
                    // logging: true, //日志开关，便于查看html2canvas的内部执行流程
                    width: width, //dom 原始宽度
                    height: height,
                    useCORS: true // 【重要】开启跨域配置
                };

                canvas.toDataURL();
                
                html2canvas(shareContent, opts).then(function (canvas) {

                    var context = canvas.getContext('2d');
                    // 【重要】关闭抗锯齿
                    context.mozImageSmoothingEnabled = false;
                    context.webkitImageSmoothingEnabled = false;
                    context.msImageSmoothingEnabled = false;
                    context.imageSmoothingEnabled = false;

                    // 【重要】默认转化的格式为png,也可设置为其他格式
                    var img = Canvas2Image.convertToJPEG(canvas, canvas.width, canvas.height);

                    $(".content").append(img);

                    $(img).css({
                        "width": canvas.width / 2 + "px",
                        "height": canvas.height / 2 + "px",
                        "display": "none",
                    });

                    var imgUrl = $(img).attr('src');

                    $("#show").attr('src', imgUrl)
                    $("#print").hide();
                });
            }
        });
    </script>

</body>

</html>