<extend name="Common/__base" />
<block name="body">
    <div class="page-group">
        <div class="page page-current" style="background: #fff" id="page-search">
            <div class="content native-scroll">
                <div class="search-input">
                    <div class="span-content" id="search">
                        <span class="iconfont icon-tubiao11"></span>
                    </div>
                    <input type="text" placeholder="姓名/小区/电话/地址" name="keyword" style="margin-top:80%;">
                </div>

                <div class="data-list">
                    
                </div>

                <div class="empty" style="display: block;">
                    <span class="iconfont icon-ico_meiyoushuju"></span>
                    <p>没有检索到相关订单</p>
                </div>

                
            </div>
        </div>
    </div>
</block>