<extend name="Common/__base" />
<block name="body">
    <div class="page-group">
        <div class="page page-current" style="background: #fff" id="page-search">
            <div class="content native-scroll">
                <div class="search-input">
                    <div class="span-content">
                        <span class="iconfont icon-tubiao11"></span>
                    </div>
                    <input type="text" placeholder="请输入姓名" name="username">
                </div>
                <!-- <div class="empty" style="display: block;">
                    <span class="iconfont icon-ico_meiyoushuju"></span>
                    <p>暂无订单</p>
                </div> -->

                
            </div>
        </div>
    </div>
</block>