<extend name="Common/__base" />
<block name="body">
    <div class="page-group">
        <div class="page page-current" style="background: #fff" id="page-today">
        	<div class="content native-scroll">
        		<div class="order-list">
        			<div class="left">
        				<p class="time">08:30</p>
        				<p class="village">小区名称</p>
        			</div>
        			<div class="right">
        				<p class="name">姓名：<span>车凌锋</span></p>
        				<p class="phone">电话：<span>13486543696</span></p>
        				<p class="address">地址：<span>浙江省杭州市xxxxxxx</span></p>
        				<a class="detail">点击详情</a>
        			</div>
        			<div class="both"></div>
        		</div>
        		<div class="order-list">
        			<div class="left">
        				<p class="time">08:30</p>
        				<p class="village">小区名称</p>
        			</div>
        			<div class="right">
        				<p class="name">姓名：<span>车凌锋</span></p>
        				<p class="phone">电话：<span>13486543696</span></p>
        				<p class="address">地址：<span>浙江省杭州市xxxxxxx</span></p>
        				<a class="detail">点击详情</a>
        			</div>
        			<div class="both"></div>
        		</div>
        	</div>
        </div>
    </div>
</block>