<extend name="Public/__base" />
<block name="body">
        
<div class="page-main" style="left:170px;top:50px;">

    <div class="history-container ng-scope">
        <a class="return-btn" onclick="history.go(-1)">
            <i class="ALiconfont icon-sortleft"></i> 返回 
        </a> 
        <ul class="history-list">
            <li><a href="javascript:void(0)">订单管理</a></li>
            <li>外卖订单</li>
        </ul>
    </div>


    <div class="page-tabs" style="top:50px;">
        <ul class="page-tabs-nav" id="changeaction">
            <li class="active" onclick="location.href='{:U('index')}'">堂食订单</li>
            <li class="">外卖订单</li>
        </ul>
        <form method="post" action="" id="formsubmit">
            <div class="tool-bar ng-scope" style="background:#fff;border-bottom:1px solid #dfe0e0">
                <div class="bar-full">
                    <select name="shop_id" class="form-control" style="width:200px">
                        <option value="">全部店铺</option>
                        <?php foreach ($shops as $shop){ ?>
                        <option value="{$shop.id}" <?php if ($_POST['shop_id'] == $shop['id']) {echo 'selected';}?>>{$shop.title}</option>
                        <?php } ?>
                    </select>
                </div>
                <div>
                    <select name="status" class="form-control" style="width:200px">
                        <option value="">全部状态</option>
                        <?php foreach ($status as $k => $c){ ?>
                        <option value="{$k}" <?php if ($_POST['status'] == $k) {echo 'selected';}?>>{$c}</option>
                        <?php } ?>
                    </select>
                </div>
                下单时间：
                <div><input type="text" class="datetime form-control" name="start_date" value="{$Think.post.start_date}"/></div>
                <div>至</div>
                <div><input type="text" class="datetime form-control" name="end_date" value="{$Think.post.end_date}"/></div>
                <div class="search-bool">
                    <div class="input-group ng-pristine ng-valid">
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="桌号" name="keyword" value="{$Think.post.keyword}">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" id="search_btn">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>

        <ul class="page-tabs-container">
            <li class="fadeIn animated active">
                <div class="table-container" style="top:50px;background:#fff">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>桌号</th>
                                <th>姓名</th>
                                <th>就餐人数</th>
                                <th>状态</th>
                                <th>实付金额</th>
                                <th>付款方式</th>
                                <th>下单时间</th>
                                <th>操作</th>
                            </tr> 
                        </thead>
                        <tbody>
                            <?php foreach($data as $v){ ?>
                            <tr>
                                <td>{$v.table_number}</td>
                                <td>
                                    {$v['user']['name']}
                                </td>
                                <td>{$v.people_number}</td>
                                <td>{$status[$v['status']]}</td>
                                <td><?=sprintf("%.2f", $v['amount'] / 100);?></td>
                                <td><?=C('payment')[$v['payment']] ?></td>
                                <td>{$v.create_time}</td>
                                <td>
                                    <a class="btn btn-info btn-xs detail" data-id="{$v.id}">查看详情</a>
                                    <?php if ($v['status'] == 'paid'){ ?>
                                    <a class="btn btn-success btn-xs success" data-id="{$v.id}">完成</a>
                                    <?php } ?>
                                </td>
                            </tr> 
                            <?php } ?>
                            <?php if(count($data) == 0){ ?>
                            <tfoot>
                                <tr>
                                    <td colspan="20" class="empty">没有检索到相关数据</td>
                                </tr>
                            </tfoot> 
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
                {$page}
            </li>
        </ul>
    </div>
</div>

<div class="info-card fadeIn animated ng-scope" id="detail_card">
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading"> 订单详情
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body">
                        <div class="form-tabs">
                            <ul class="form-tabs-container">
                                <li class="fadeIn animated active">
                                    <table class="table-bordered bg-white table-form">
                                        <tbody>
                                            <tr>
                                                <td>姓名</td>
                                                <td id="name"></td>
                                                <td>下单时间</td>
                                                <td id="create_time"></td>
                                            </tr>
                                            <tr>
                                                <td>桌号</td>
                                                <td id="table_number"></td>
                                                <td>就餐人数</td>
                                                <td id="people_number"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <table class="table-bordered bg-white goodslist" style="width:100%">
                                                        <tr>
                                                            <td>菜品名称</td>
                                                            <td>数量</td>
                                                            <td>金额</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>支付方式</td>
                                                <td id="payment"></td>
                                                <td>实付金额</td>
                                                <td id="amount"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function(){
        $('.datetime').datetimepicker({
            format: "yyyy-mm-dd",
            language: 'zh-CN',
            autoclose: true,
            todayBtn: true,
            minView: 'month',
            pickerPosition: 'top-left'
        });


        $(".success").click(function () {
            var id = $(this).data('id');
            swal({
                title: "提示",
                text: "确定要完成吗？",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                cancelButtonText: '取消',
                confirmButtonText: '确定'
            }, function () {
                $(".loading").show();
                $.ajax({
                    url: "{:U('successOrder')}",
                    type: 'POST',
                    data: { id: id},
                    success: function (data) {
                        if (data.code == 0) {
                            swal({ title: "提示", text: "操作成功", type: "success", timer: 1500, }, function () {
                                window.location.reload();
                            });
                        } else {
                            swal("提示", data.msg, "warning");
                        }
                        $(".loading").hide();
                    }
                })
            });
        });

        //点击页码
        $(".pagination a").click(function () {
            if (typeof ($(this).attr('href')) != 'undefined') {
                $('#formsubmit').attr('action', $(this).attr('href')).submit();
            }
            return false;
        });

        $("[name='shop_id'], [name='status']").change(function(){
            $('#formsubmit').submit();
        });

        //详情
        $(".detail").click(function () {
            var id = $(this).attr('data-id');
            $(".loading").show();
            $.ajax({
                url: "{:U(findOrder)}",
                type: 'POST',
                data: { id: id },
                success: function (data) {
                    if (data.code == 0) {
                        $("#detail_card #name").html(data.data.user.name);
                        $("#detail_card #create_time").html(data.data.create_time);
                        $("#detail_card #table_number").html(data.data.table_number);
                        $("#detail_card #people_number").html(data.data.people_number);
                        $("#detail_card #payment").html(data.data.payment);
                        $("#detail_card #amount").html((data.data.amount / 100).toFixed(2));
                        $(".goodslist .goods").remove();
                        var html = '';
                        data.data.detail.forEach(function(item, index){
                            html += '<tr class="goods">';
                                html += '<td>'+item.title+'</td>';
                                html += '<td>' + item.number +'</td>';
                                html += '<td>'+(item.number * item.price / 100).toFixed(2)+'</td>';
                            html += '</tr>';
                        });
                        $(".goodslist").append(html)
                        $("#detail_card").addClass('show');
                    } else {
                        swal("提示", data.msg, "warning");
                    }
                    $(".loading").hide();
                }
            })
        });
    });
</script>
</block>
