<extend name="Public/__base" />
<block name="body">
        
<div class="page-main" style="left:170px;top:50px;">

    <div class="history-container ng-scope">
        <a class="return-btn" onclick="history.go(-1)">
            <i class="ALiconfont icon-sortleft"></i> 返回 
        </a> 
        <ul class="history-list">
            <li><a href="javascript:void(0)">订单管理</a></li>
        </ul>
    </div>


    <div class="page-tabs" style="top:50px;">
        <form method="post" action="" id="formsubmit">
            <div class="tool-bar ng-scope" style="background:#fff;border-bottom:1px solid #dfe0e0">
                <div class="bar-full">
                </div>
                测量日期：
                <div><input type="text" class="datetime form-control" name="start_date" value="{$Think.post.start_date}"/></div>
                <div>至</div>
                <div><input type="text" class="datetime form-control" name="end_date" value="{$Think.post.end_date}"/></div>
                <div class="search-bool">
                    <div class="input-group ng-pristine ng-valid">
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="小区/姓名/电话/地址" name="keyword" value="{$Think.post.keyword}">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" id="search_btn">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>

        <ul class="page-tabs-container">
            <li class="fadeIn animated active">
                <div class="table-container" style="top:10px;background:#fff">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>电话</th>
                                <th>小区</th>
                                <th>地址</th>
                                <th>定金</th>
                                <th>测量日期</th>
                                <th>操作</th>
                            </tr> 
                        </thead>
                        <tbody>
                            <?php foreach($data as $v){ ?>
                            <tr>
                                <td>{$v.name}</td>
                                <td>{$v.phone}</td>
                                <td>{$v.village}</td>
                                <td>{$v.address}</td>
                                <td>{$v.amount}</td>
                                <td>{$v.date}</td>
                                <td>
                                    <a class="btn btn-info btn-xs detail" data-id="{$v.id}">查看详情</a>
                                </td>
                            </tr> 
                            <?php } ?>
                            <?php if(count($data) == 0){ ?>
                            <tfoot>
                                <tr>
                                    <td colspan="20" class="empty">没有检索到相关数据</td>
                                </tr>
                            </tfoot> 
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
                {$page}
            </li>
        </ul>
    </div>
</div>

<div class="info-card fadeIn animated ng-scope" id="detail_card">
    <div class="info-card-wrapper">
        <div class="info-card-dialog">
            <div class="info-card-content">
                <div class="panel panel-info">
                    <div class="panel-heading"> 订单详情
                        <a class="info-card-close"><i class="ALiconfont icon-close"></i></a>
                    </div>
                    <div class="panel-body">
                        <div class="form-tabs">
                            <ul class="form-tabs-container">
                                <li class="fadeIn animated active">
                                    <table class="table-bordered bg-white table-form">
                                        <tbody>
                                            <tr>
                                                <td>姓名</td>
                                                <td id="name"></td>
                                                <td>电话</td>
                                                <td id="phone"></td>
                                            </tr>
                                            <tr>
                                                <td>小区</td>
                                                <td id="village"></td>
                                                <td>地址</td>
                                                <td id="address"></td>
                                            </tr>
                                            <tr>
                                                <td>定金</td>
                                                <td id="amount"></td>
                                                <td>测量日期</td>
                                                <td id="date"></td>
                                            </tr>
                                            <tr>
                                                <td>测量内容</td>
                                                <td id="content" colspan="3"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function(){
        $('.datetime').datetimepicker({
            format: "yyyy-mm-dd",
            language: 'zh-CN',
            autoclose: true,
            todayBtn: true,
            minView: 'month',
            pickerPosition: 'top-left'
        });

        //点击页码
        $(".pagination a").click(function () {
            if (typeof ($(this).attr('href')) != 'undefined') {
                $('#formsubmit').attr('action', $(this).attr('href')).submit();
            }
            return false;
        });

        $("[name='shop_id'], [name='status']").change(function(){
            $('#formsubmit').submit();
        });

        //详情
        $(".detail").click(function () {
            var id = $(this).attr('data-id');
            $(".loading").show();
            $.ajax({
                url: "{:U(findOrder)}",
                type: 'POST',
                data: { id: id },
                success: function (data) {
                    if (data.code == 0) {
                        $("#detail_card #name").html(data.data.name);
                        $("#detail_card #phone").html(data.data.phone);
                        $("#detail_card #village").html(data.data.village);
                        $("#detail_card #address").html(data.data.address);
                        $("#detail_card #amount").html(data.data.amount);
                        $("#detail_card #date").html(data.data.date);
                        $("#detail_card #content").html(data.data.content);
                        $("#detail_card").addClass('show');
                    } else {
                        swal("提示", data.msg, "warning");
                    }
                    $(".loading").hide();
                }
            })
        });
    });
</script>
</block>
