<extend name="Common/__base" />
<block name="body">
<div class="page-group">
    <div class="page page-current" style="background: <?=$user['vip_level']['color'] ?? '#f3b405'; ?>" id="page-menu-order">
        <input name="shop_id" type="hidden" value="{$Think.get.id}" />
        <div class="mask" style="display: block;"></div>
        <div class="menu-order-pay" style="">
            <div class="menu-order-pay-title">支付方式</div>
            <div class="menu-order-pay-list balance">
                <span class="iconfont icon-qian1" style="color:#fc8c06"></span>
                <div class="menu-order-pay-list-p1">余额支付</div>
                <div class="menu-order-pay-list-p2">¥<b style="font-weight:normal"><?=sprintf("%.2f", $user['balance'] / 100);?></b></div>
            </div>
            <div class="menu-order-pay-list wechat">
                <span class="iconfont icon-weixinzhifu" style="color:#2bae8f"></span>
                <div class="menu-order-pay-list-p1">微信支付</div>
            </div>
            <div class="menu-order-pay-btn" onclick="location.href='{:U('Home/vip/recharge')}'">充值优惠更多，点击充值</div>
            <div class="close iconfont icon-guanbi"></div>
        </div>


        <div class="menu-order-confirm" style="display: block;">
            <div class="menu-order-confirm-title">信息确认</div>
            <div class="menu-order-confirm-list balance">
                <span class="iconfont icon-renshu" style="color:#fc8c06"></span>
                <div class="menu-order-confirm-list-p1">就餐人数</div>
                <div class="menu-order-confirm-list-p2">
                    <select name="people_number">
                        <option value="">请选择</option>
                        <?php for ($i = 1; $i <= 20; $i++) { ?>
                        <option value="{$i}人">{$i}人</option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="menu-order-confirm-list wechat">
                <span class="iconfont icon-canzhuo" style="color:#2bae8f"></span>
                <div class="menu-order-confirm-list-p1">桌号</div>
                <div class="menu-order-confirm-list-p2">
                    <select name="table_number" <?php if($_GET['table_number_id']){echo 'disabled';}?>>
                        <option value="">请选择</option>
                        <?php foreach($tables as $table) { ?>
                        <option value="{$table.title}" <?php if($_GET['table_number_id'] == $table['id']){echo 'selected';}?>>{$table.title}</option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="menu-order-confirm-btn">确定</div>
        </div>


        <?php if ($user['vip_level']){ ?>
        <div class="menu-order-vip-title">欢迎就餐{$user['vip_level']['title']}</div>
        <?php } else { ?>
        <div class="menu-order-vip-title">欢迎就餐{$user.nickname}</div>
        <?php } ?>
        <div class="menu-order-goods-list">
            <div class="menu-order-goods-list-title">所有菜品</div>
            <div class="menu-order-goods-list-item-content">
                <?php $amount = 0; $num = 0; foreach ($buycar as $goods){ $amount += $goods['price'] * $goods['number']; $num += $goods['number']; ?>
                <div class="menu-order-goods-list-item">
                    <img src="{$goods.carousel}" />
                    <div class="menu-order-goods-list-m">
                        <p class="p1">{$goods.title}</p>
                        <p class="p2"><?=implode($goods['options'], '+');?></p>
                    </div>
                    <div class="menu-order-goods-list-right">
                        <p class="p1">¥<?=sprintf("%.2f", $goods['price'] / 100 * $goods['number']);?></p>
                        <p class="p3">× {$goods['number']}</p>
                    </div>
                </div>
                <?php } ?>
            </div>
            <div class="menu-order-goods-list-bottom detail-message">
                <span class="table_number"></span>
                <span class="people_number"></span>
                <span>共{$num}个菜</span>
            </div>
            <div class="menu-order-goods-list-bottom">
                小计 
                <span>¥<?=sprintf("%.2f", $amount / 100);?></span>
            </div>
        </div>
        <?php
            $discount = $user['vip_level']['discount'] ?? 100;
            $discountAmount = intval((100 - $discount) * $amount / 100);
        ?>
        <div class="menu-order-youhui">
            <div class="menu-order-youhui-title">使用优惠</div>
            <div class="menu-order-youhui-list">
                <div class="youhui-list1">会员折扣</div>
                <?php if ($discount == 100) { ?>
                <div class="youhui-list2">无</div>
                <?php } else { ?>
                <div class="youhui-list2"><?=$discount % 10 == 0 ? $discount / 10 : $discount;?>折</div>
                <?php } ?>
            </div>
            <!-- <div class="menu-order-youhui-list">
                <div class="youhui-list1">使用优惠券</div>
                <div class="youhui-list2">
                    <span class="iconfont icon-quangou used"></span>
                    <span class="iconfont icon-yk_yuanquan unused"></span>
                </div>
            </div>
            <div class="menu-order-youhui-list active">
                <div class="youhui-list1">使用积分</div>
                <div class="youhui-list2">
                    <span class="iconfont icon-quangou used"></span>
                    <span class="iconfont icon-yk_yuanquan unused"></span>
                </div>
            </div> -->
        </div>
        <div class="menu-order-bottom">
            <div class="menu-order-bottom-left">
                <span class="mm1">实付</span>
                <span class="mm2">¥<span><?=sprintf("%.2f", ($amount - $discountAmount) / 100);?></span></span>
                <s class="mm3">¥<?=sprintf("%.2f", $amount / 100);?></s>
            </div>
            <div class="menu-order-bottom-right" id="submit_order">提交</div>
        </div>
    </div>
</div>
</block>