<extend name="Common/__base" />
<block name="body">
<div class="page-group">
    <div class="page page-current" style="background: #fff" id="page-menu-pay-success">
        <include file="Common/__nav" />
        <div class="menu-pay-success-img">
            <img src="__PUBLIC__/wx/img/pay-success.jpg" />
        </div>
        <p class="menu-pay-success-tip">支付成功</p>
        <p class="menu-pay-success-tip2">请耐心等待佳肴</p>
        <a class="menu-pay-success-btn" data-no-cache="true" href="{:U('Home/Vip/index')}">完成</a>
    </div>
</div>
</block>